body{
	font-family: Candara;
     background: #ff972E;

}
.encabezado{
	text-align:center;
	width:100%;
}
.cuerpo{
	height:100%;
	overflow:hidden;
}
.piepag{
	margin-top:20%;
	width:100%;
	text-align:center;
	font-size:10pt;
	color: #808080;
}
.piepag1{
	margin-top:5%;
	width:100%;
	text-align:center;
	font-size:10pt;
	color: #808080;
}
h2{
	text-align:center;
}
select,input{
	font-family:Candara;
}
.formulario input,.formulario select{
  font-size: 18px;
  background: none;
  background-image: none;
  border:none;
  border-bottom: 1px solid #000000;
  color: #000000;
  border-radius: 0;
  text-align:center;
}
.formulario select{
	background: f8f8ff;
}
.formulario input:focus,.formulario select:focus{
	outline: 0;
	border-color: #1ab188;
}
.formulario input[type=submit],input[type=button]{
	border: 1;
	outline: none;
	border-radius: 10px;
	font-size: 90%;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #011826;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.formulario{
	text-align:center;
	background: rgba(172,224,230,0.5);
	padding: 20px;
	color:#000000;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	margin:auto 20%;
}
#prom{
	text-align:center;
	font-size:16pt;
	font-weight:bolder;	
}
#prom span { color: red;}
#buscar table{
	border-collapse: collapse;
	border-color:black;
	background-color:rgba(172,224,230,0.5);
}
/*Menú*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.menus{
	display:none;
}
header{
	width:100%;
}
header nav{
	border-radius:15px;
	background:#011826;
	z-index:1000;
	max-width:1000px;
	width:100%;
	margin:20px auto;
}
header nav ul{
	list-style:none;
	text-align:center;
}
header nav ul li{
	display:inline-block;
	position:relative;
}
header nav ul li:hover{
	background:#1e90ff;
}
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 10px;
}
header nav ul li a span {
	margin-right: 10px;
}
header nav ul li:hover .children {
	display:block;
}
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
header nav ul li .children li a {
	display: block;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
body {
		padding-top:80px;
	}

	.menus {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:black;
	}

	.menus .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menus span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

}